<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MovieDex Team">
        <meta name="author" content="CSE 134B TEAM">
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Roboto+Condensed" rel="stylesheet">
        <!-- JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <!-- Vue -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <title>MovieDex | Profile</title>
    </head>
    <body id="profilePage">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#moviedex-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="explore.html">MovieDex</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="moviedex-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="explore.html">explore</a></li>
                        <li class="active"><a href="profile.html">profile</a></li>
                        <li><a href="team.html">about us</a></li>
                        <li><a id="signout" href="index.html">sign out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div id="createWatchlist">
          <!-- Profile Banner -->
          <div id="profileBanner">
            <div class="row">
              <div class="col-sm-12" id="profilePicture">
                <span id="circle"></span>
              </div>
              <div class="col-sm-12" id="profileDescription" v-for="user in currentuser">
                <h1>{{user.name}}</h1>
                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="openModal()">
                  Create New Watchlist
                </button>
                <!-- <button onclick="window.location='createWatchList.html'">Create New Watchlist</button> -->
              </div>
            </div>
          </div>

          <!-- Profile Content -->
          <div id="profileWrapper">
            <!-- Tab Links-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" id="tabSection">
                        <ul id="tabList">
                            <li><a href="javascript:void(0)" class="tablink active" onclick="changeTabs(event, 'watchlistsSection');">Watchlists</a></li>
                            <li><a href="javascript:void(0)" class="tablink" onclick="changeTabs(event, 'recommendedSection');">Recommended Movies</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Create Watchlist Modal -->
                <div id="create">
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Create New Watchlist!</h5>
                        </div>
                        <div class="modal-body">
                          <form @submit.prevent="addWatchlist">
                            <div class="form-group">
                               <label for="name">Name of Watchlist:</label>
                               <input type="text" class="form-control" id="name" v-model="name">
                            </div>
                            <div class="form-group">
                               <label for="genre">Genre of Watchlist:</label>
                               <input type="text" class="form-control" id="genre" v-model="genre">
                            </div>
                             <div class="modal-footer">
                               <input type="submit" class="form-control btn btn-primary btn-md" id="submit">
                               <button type="button" class="closeBtn" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- List of Watchlists -->
                  <div class="listOfWatchlists tabs" id="watchlistsSection">
                    <div class="row">
                      <div v-for="(watchlist, index) in userswatchlists">
                        <div class="col-lg-4 col-lg-12" :id="index">
                          <div class="eachWatchlist">
                            <h3 class="text-center">{{watchlist.name}}</h3>
                            <input type="text" id="newTitle" style="display:none;" placeholder="New Title">
                            <button type="button" id="submitNewTitle" style="display:none;" @click="updateWatchlist(watchlist['.key'], index)"><span class="glyphicon glyphicon-ok"></span>SUBMIT</button>
                            <p class="text-center">Genre: {{watchlist.genre}}</p>
                            <div class="addedMovies">
                              <div class="row">
                              </div>
                            </div>
                            <div class="buttons">
                              <button type="button" class="actionButton addMovie" data-toggle="modal" onclick="addMovieModal()"><span class="glyphicon glyphicon-plus"></span> Add Movie</button>
                              <button type="button" class="actionButton viewMovies" data-toggle="modal" onclick="viewMoviesModal()"><span class="glyphicon glyphicon-eye-open"></span> View Movies</button>
                              <button type="button" class="actionButton update" @click="showForm(index)"><span class="glyphicon glyphicon-pencil"></span> Update Title</button>
                              <button class="actionButton delete" @click="removeWatchlist(watchlist['.key'])"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                            </div>
                          </div>
                        </div>
                        <!-- Add Movie Modal -->
                        <div id="addmovie-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3>Please only add one of the following movies to your watchlists.</h3>
                                  <p>Avengers Age of Ultron, The Great Gatsby, The Jungle Book, The Lion The Witch and The Wardrobe, National Treasure, Peter Pan, Pinocchio</p>
                              </div>
                              <div class="modal-body">
                                <form @submit.prevent="addMovieToWatchlist(watchlist['.key'])">
                                    <div class="form-group">
                                        <label for="exampleSelect1">Name of Movie:</label>
                                        <select class="form-control" id="exampleSelect1" v-model="name">
                                          <option>Avengers Age of Ultron</option>
                                          <option>National Treasure</option>
                                          <option>Peter Pan</option>
                                          <option>Pinocchio</option>
                                          <option>The Great Gatsby</option>
                                          <option>The Jungle Book</option>
                                          <option>The Lion The Witch and The Wardrobe</option>
                                        </select>
                                      </div>
                                     <div class="modal-footer">
                                       <input type="submit" class="form-control btn btn-primary btn-md" id="submit">
                                      <button type="button" class="closeBtn" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- View Movies Modal -->
                        <div id="viewmovies-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <div class="hello" v-for="movies in userswatchlists">
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <img v-if="movies.movies.PeterPan != undefined" class="moviePoster" :src="movies.movies.PeterPan">
                                      <img v-if="movies.movies.TheGreatGatsby!= undefined" class="moviePoster" :src="movies.movies.TheGreatGatsby">
                                      <img v-if="movies.movies.NationalTreasure != undefined" class="moviePoster" :src="movies.movies.NationalTreasure">
                                      <img v-if="movies.movies.TheLionTheWitchandTheWardrobe != undefined" class="moviePoster" :src="movies.movies.TheLionTheWitchandTheWardrobe">
                                      <img v-if="movies.movies.Pinocchio != undefined" class="moviePoster" :src="movies.movies.Pinocchio">
                                      <img v-if="movies.movies.TheJungleBook != undefined" class="moviePoster" :src="movies.movies.TheJungleBook">
                                      <img v-if="movies.movies.AvengersAgeofUltron != undefined" class="moviePoster" :src="movies.movies.AvengersAgeofUltron">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Recommended Section -->
                <div class="col-lg-12 tabs" id="recommendedSection" style="display:none">
                  <ul id="recommendedList">
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/narnia.jpeg" alt="Narnia" width="200" height="300"><br>The Lion The Witch and The Wardrobe</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/peterpan.jpeg" alt="Peter Pan" width="200" height="300"><br>Peter Pan</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/whitehousedown.jpeg" alt="White House Down" width="200" height="300"><br>White House Down</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/pinocchio.jpeg" alt="Pinocchio" width="200" height="300"><br>Pinocchio</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/junglebook.jpeg" alt="Jungle Book" width="200" height="300"><br>Jungle Book</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/gatsby.jpeg" alt="Gatsby" width="200" height="300"><br>Gatsby</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/avengers.jpeg" alt="Avengers" width="200" height="300"><br>Avengers</a></li>
                      <li class="recommendedItem"><a href="movie.html"><img class="singleMovie" src="images/nationaltreasure.jpeg" alt="National Treasure" width="200" height="300"><br>National Treasure</a></li>
                  </ul>
                </div>
            </div>
        </div>
      </div>

        <!-- Footer -->
        <footer>
            <p>Copyright MovieDex 2017</p>
        </footer>
    </body>
    <script src="js/add.js"></script>
    <script>
        function openModal(){
          $('#myModal').modal('show');
        }

        function addMovieModal(){
          $('#addmovie-modal').modal('show');
        }

        function viewMoviesModal(){
          $('#viewmovies-modal').modal('show');
        }

        function changeTabs(evt, tabName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("tabs");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</html>
