<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Explore Movies with MovieDex">
        <meta name="author" content="CSE 134B TEAM">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Roboto+Condensed" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- CRUD -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <title>MovieDex | Explore</title>
    </head>
    <body id="createWatchlistPage">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#moviedex-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="explore.html">MovieDex</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="moviedex-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="explore.html">explore</a></li>
                        <li><a href="profile.html">profile</a></li>
                        <li><a href="team.html">about us</a></li>
                        <li><a id="signout" href="index.html">sign out</a></li>
                        <!-- <button id="logoutBtn" value="LOG OUT"></button> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div id="createWatchlist">
          <div class="container">
            <form @submit.prevent="addWatchlist">
              <div class="row">
                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="name">Name of Watchlist:</label>
                       <input type="text" class="form-control" id="name" v-model="name">
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="theme">Theme of Watchlist:</label>
                       <input type="text" class="form-control" id="theme" v-model="theme">
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                       <label>&nbsp;</label>
                       <input type="submit" class="form-control btn btn-primary btn-md" id="submit">
                    </div>
                 </div>
              </div>
            </form>
          </div>
        </div>

        <div id="listOfWatchlists">
          <div class="container">
            <div class="row">
              <div v-for="watchlist in watchlists">
                <div class="col-md-2">
                  <h3 class="text-center">{{watchlist.name}}</h3>
                  <p class="text-center">{{watchlist.theme}}</p>
                  <p class="text-center text-info">{{watchlist.movies}} movies</p>
                  <button type="button" class="btn btn-block btn-success" @click="updatePlaylist(watchlist['.key'], watchlist.movies)">
                  <button class="btn btn-block btn-danger" @click="removePlaylist(watchlist['.key'])">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer>
            <p>Copyright MovieDex 2017</p>
        </footer>
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <!-- <script src="js/signout.js"></script> -->
        <script src="js/add.js"></script>
    </body>
</html>
