/* Login Page */
#loginPage{
  background-color: #A2A79E;
}

#navRibbon{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-left: 0;
  line-height: 60px;
  font-size: 1.5em;
  text-align: center;
  background-color: #191A1F;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

#loginWrapper{
  text-align: center;
  padding: 0;
}

#loginWrapper > section{
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

#loginLeft{
  padding: 90px 0 50px;
}

#stackedPhones{
  list-style: none;
}

#stackedPhones .phones{
  margin-right: -230px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
}

#stackedPhones .phones img {
  display: block;
  border-radius: 4px;
}

#stackedPhones .phones img#first{
  z-index: 999999;
}

#loginRight h1,
#loginRight h3{
  text-align: left;
  letter-spacing: 1px;
  margin: 0px;
}

#loginRight h1{
  font-size: 1.5em;
}

#loginRight h3{
  font-size: 1em;
  padding-bottom: 10px;
  font-weight: lighter;
}

#loginForm label{
  display: inline-block;
  float: left;
  width: 13%;
  padding: 5px 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#loginForm input[type="text"]{
  width: 77%;
  border-top: none;
  border-right: none;
  border-left: none;
  float: left;
  clear: right;
  height: 41px;
  margin-bottom: 12px;
  padding: 0px 15px;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 1.5px solid #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 1px;
}

#loginForm input[type="text"]:hover,
#loginForm input[type="text"]:focus{
  border-bottom: 1.5px solid #FFD700;
  outline: none;
}

#loginForm input[type="submit"]{
  border: 1px solid transparent;
  display: inline-block;
  height: 45px;
  padding: 0px 15px;
  width: 48.5%;
  background-color: #015267;
  color: #FFFFFF;
  line-height: 45px;
  margin-top: 15px;
}

#loginForm input[type="submit"]:hover{
  border: 1px solid #FFD700;
}

#loginForm #loginBtn{
  background-color: #44929F;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #191A1F;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){

  #loginWrapper > section{
    margin: 50px 0;
  }

  #loginLeft{
    display: none !important;
  }

  #loginRight{
    padding-top: 100px;
  }

}

/* Profile Page */
#profilePage{
  background-color: #A2A79E;
  margin: 0px;
}

#profile{
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

#profileBanner{
  width: 100%;
  background-color: #015267;
  padding: 50px 0px;
  margin-top: 60px;
  color: #FFFFFF;
  text-align: center;

  box-sizing: border-box;
  padding-left: 0;
}

#tabSections ul{
  list-style: none;
  border-bottom: 1px solid #191A1F;
  -webkit-padding-start: 0px !important;
}

#tabSections ul li{
  display: inline-block;
  padding-right: 15px;
}

#tabSections ul li a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #191A1F;
}

#tabSections ul li a.active{
  color: #FFD700;
  border-bottom: 1px solid #FFD700;
}

#favorite,
#recommended,
#watchlists{
  padding: 0px 0px 100px;
}

#recommendedList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -40px;
}

#recommendedList .recListItem{
  display: block;
}

#recommendedList .recListItem a{
  text-align: center;
  display: block;
  text-decoration: none;
}

.singleMovie{
  border: 2px solid black;
  box-shadow: 2px 0 2px black;
  border-radius: 2px;
}

.singleMovie:hover{
  border: 2px solid #FFD700;
}

#watchlists{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

#watchlists .movielist{
  float: left;
  width: 290px;
  margin-right: 50px;
}

#watchlists .posterList{
  list-style: none;
}

#watchlists .posterList .poster{
  margin-right: -100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 0 5px black;
  float: left;
}

#watchlists .posterList .poster img{
  display: block;
  border-radius: 4px;
}

#watchlists h3{
  text-align: center;
  width: 100%;
}
